* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --carousel-transition: 420ms cubic-bezier(0.4, 0, 0.2, 1);
  --carousel-radius: 12px;
}
ul,
li {
  list-style: none;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.Button-list {
  display: flex;
}
.button-list1 {
  display: flex;
}
.container-header {
  background: linear-gradient(
    rgb(23, 98, 147) 0%,
    rgba(23, 98, 147, 0.337) 71%,
    rgba(23, 98, 147, 0) 100%
  );
  display: flex;
  height: 90px;
  padding: 0px 16px;
  position: sticky;
  top: 0px;
  z-index: 100;
  justify-content: center;
  align-items: center;
  gap: 30%;
}
.header-left {
  display: flex;
}
.header-right {
  display: flex;
}
.button-same {
  background: transparent;
  text-decoration: none;
  padding: 30px;
  margin: 0px;
  border: none;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: Figtree, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-out;
  z-index: 0;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
}
.logo {
  margin-top: 10px;
}
.button-try {
  content: "";
  width: 200px;
  height: 56px;
  display: block;
  border: none;
  border-radius: 100px;
  transition:
    margin 0.3s ease-out,
    opacity 0.3s ease-out;
  margin-top: 10px;
  box-shadow: none;
  font-size: 20px;
  font-weight: 550;
  background: linear-gradient(rgb(36, 119, 170) 0%, rgb(100, 97, 224) 100%);
  color: rgb(255, 255, 255);
}
.container-Main {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.img {
  height: 55%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  color: transparent;
  inset: 0px;
}
/* .img::after{
  background: linear-gradient(
    rgba(247, 247, 247, 0) 0%,
    rgba(247, 247, 247, 0.09) 8.85%,
    rgb(247, 24url(../../../Downloads/blue.webp)
  height: 100px;
  position: relative;
} */

/* .container-imagec::before {
  background: linear-gradient(
    rgba(247, 247, 247, 0) 0%,
    rgba(247, 247, 247, 0.09) 8.85%,
    rgb(247, 247, 247) 100%
  );
  height: 100px;
} */
.container-imagec {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 1440px;
  padding: 0px 10px;
  text-align: center;
  transition: 0.3s ease-out;
  /* transform: translate(0,80%); */
}
.imagec {
  align-self: flex-start;
  margin-top: 40px;
  justify-items: center;
}
.imagec h1 {
  margin: 0 0 8px;
  font-size: 49.5px;
  color: #1a3e6f;
}
.imagec p {
  margin: 16px 0 36px;
  font-size: 22.5px;
}
.imagec-button {
  display: flex;
  gap: 30px;
}
.button-image-l {
  width: 335px;
  height: 58px;
  font-size: 20px;
  border: none;
  border-radius: 40px;
  color: white;
  background-color: rgb(26, 62, 111);
}
.button-image-r {
  width: 335px;
  height: 58px;
  font-size: 20px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  border: 2px solid gray;
}
.help-you {
  /* transform: translate(0%, 170%); */
  display: grid;
  padding: 0px 106px 100px;
  justify-content: center;
  justify-items: center;
}
.help-you h2 {
  margin: 0 0 40px;
  font-size: 36px;
  color: #1a3e6f;
}
.help-you ul {
  display: flex;
  gap: 30px;
}
.help-you ul li {
  display: flex;
  flex-direction: column;
}
.setres {
  display: grid;
  width: 333px;
  height: 247px;
  border: none;
  background-color: white;
  /* align-items: start; */
  justify-items: start;
}
.card-stres {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.card-icons svg {
  width: 54px;
  height: 54px;
}
.setres h3 {
  font-size: 31.5px;
  font-weight: 400;
  margin-bottom: 8px;
}
.setres p {
  margin-bottom: 20px;
  font-size: 1.125rem;
  color: gray;
  line-height: 1.7;
  text-align: left;
}
.setres span {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  font-weight: 500;
  margin-top: auto;
  text-decoration: underline;
}
.img-sleep {
  width: 54px;
  height: 54px;
  margin-bottom: 20px;
}
.img-live {
  width: 54px;
  height: 54px;
  margin-bottom: 20px;
}
.image2 {
  width: 100%;
  height: 100%;
}
.footer-container {
  display: flex;
  background-color: rgb(27, 34, 80);
  color: rgb(255, 255, 255);
  justify-content: space-around;
  padding: 48px 0px;
}
.footer-container ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}
.footer-content h2 {
  margin: 8px 0px;
}
.links a {
  color: rgb(255, 255, 255);
  line-height: 1.7;
}
.social-icons {
  gap: 10px;
  justify-content: end;
}
.footer-icon {
  width: 18px;
  height: 18px;
  fill: rgb(255, 255, 255);
}
.copyright {
  display: flex;
  justify-content: center;
  background-color: rgb(27, 34, 80);
  color: rgb(255, 255, 255);
  padding: 48px 0 0;
  font-size: 15px;
}
.vip-image {
  width: 100%;
  height: 70%;
  position: absolute;
  object-fit: cover;
  object-position: center bottom;
  color: transparent;
}
.subscription {
  margin: 0px auto;
  max-width: 620px;
  padding: 60px 20px 256px;
  position: relative;
  text-align: center;
  z-index: 1;
}
.subscription h2 {
  font-size: 36px;
  margin: 0 0 24px;
  color: #1a3e6f;
  font-weight: 900;
}
.Button-vip {
  width: 616px;
  height: 72px;
  background-color: white;
  border-radius: 10px;
}
.span-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.trial {
  background: linear-gradient(
    135deg,
    rgb(83, 64, 203) 0%,
    rgb(137, 70, 163) 100%
  );
  position: absolute;
  top: 24.5%;
  right: 20px;
  padding: 6px 12px;
  border-radius: 10px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  max-height: 33px;
  z-index: 2;
}
.trial span {
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.yearly {
  font-weight: 700;
  line-height: 28px;
  font-size: 1rem;
}
.price-yearly {
  font-size: 0.84375rem;
  line-height: 20px;
  font-weight: 550;
}
.price-monthly {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-self: center;
}
.self-content {
  margin: 24px 0;
  line-height: 1.4;
  color: #00000099;
}
.continue {
  -webkit-box-align: center;
  align-items: center;
  background: linear-gradient(rgb(36, 119, 170) 0%, rgb(100, 97, 224) 100%);
  border-radius: 100px;
  border: none;
  box-shadow: none;
  color: rgb(255, 255, 255);
  display: inline-flex;
  font-family: Figtree, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  transition: 0.3s ease-out;
  z-index: 0;
  cursor: pointer;
  width: 100%;
  outline: none;
  text-decoration: none;
  min-width: 48px;
  padding: 0.75rem 1.11111rem;
  width: 620px;
  height: 56px;
}
.self-content a {
  color: inherit;
  /* cursor: pointer; */
}
.carousel-root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
  /* background-color: red; */
  padding: 0px 136px;
  /* height: 100%; */
  min-height: 550px;
  /* max-width: 1600px; */
}
.carousel-track {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  height: 100%;
  transition: transform var(--carousel-transition);
  border-radius: var(--carousel-radius);
  overflow: hidden;
  gap: 3rem;
}
.carousel-item {
  flex: 0 0 100%;
  /* width: 100%; */
  height: 100%;
  min-width: 0;
  overflow: hidden;
  text-align: left;
}
.carousel-item[data-slide-visible="2"] {
  flex: 0 0 50%;
}
.carousel-item[data-slide-visible="3"] {
  flex: 0 0 33.333%;
}
.carousel-item[data-slide-visible="4"] {
  flex: 0 0 25%;
}
.navigation-wrapper {
  margin-top: auto;
  margin-left: auto;
  display: flex;
  gap: 20px;
}
.Card-carousel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgb(36, 119, 170) 0%, rgb(100, 97, 224) 100%);
  border-radius: var(--carousel-radius);
  color: rgb(255, 255, 255);
  /* height: 100%; */
  padding: 40px 32px;
  text-align: left;
  gap: 20px;
  /* text-align: left; */
}
.review {
  line-height: 1.5;
  font-size: 22.5px;
  font-weight: 500;
}
.reviewer {
  margin-top: 10px;
}
.review-h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  color: rgb(26, 62, 111);
  width: 100%;
}
.carousel-nav {
  border-radius: 100%;
  /* border: 2px solid rgb(26, 62, 111); */
  border: none;
  background-color: gray;
  width: 40px;
  height: 40px;
}
.chevron-icon {
  stroke: white;
  display: flex;
  align-self: center;
  justify-self: center;
}
.carousel-nav:disabled{
  opacity: 0.50;
}